
<%= render :partial => "layouts/header" %>
<div class="container">
	<div class="well text-center">
	<h2>관리자 페이지입니다.</h2>
	<p>사용자 정보를 삭제할 수 있습니다.</p>
	</div>
<div class="panel panel-default">
		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<th>id</th><th>이름</th><th>차량이름</th><th>트랙</th><th>그룹</th><th>기록</th><th>삭제</th>
				</tr>
			</thead>
			<tbody>
<% if !@users.nil?%>
<% @users.each do |user|%>

				<tr>
					<th><%=user.id%></th><td><%= user.username%> </td><td><%=user.carname%></td><td><%= user.rail%></td><td><%=user.group%></td><td><%=user.record%></td><td><a href="/main/admin_complete/<%=user.id%>" >[x]</a></td>

				</tr>
				<%end%>
<%else%>
<p> there is no registor </p>
<% end %>
			</tbody>
		</table>
</div>
</div>
