<!--<div class="container">
  <% if !flash[:alert].nil? %>
	<div class="alert alert-danger">
		<%= flash[:alert] %>
	</div>
	<% end %>
	<div class="well text-center">
	<h2>순위 확인 페이지입니다.</h2>
	<p>자신의 기록을 찾아보세요!</p>
	</div>-->
<% first = @users.first %>
<% second =@users.second %>
<% third = @users.third %>
<div class="panel panel-default">

<p> 이름 , 차이름 , 기록 </p>
<% if first.nil? %>
	<p> no record yet </p>
<%else%>
<p><%= first.username %>, <%= first.carname %>, <%= first.record %></p>
<% end%>

<% if second.nil? %>
	<p> no record yet </p>
<%else%>
<p><%= second.username %>, <%= second.carname %>, <%= second.record %></p>
<% end%>

<% if third.nil? %>
	<p> no record yet </p>
<%else%>
<p><%= third.username %>, <%= third.carname %>, <%= third.record %></p>
<% end%>

</div>


<div class="panel panel-default">
<p> 트랙사진자리 </p>


</div>



<div class="panel panel-default">

<% rfirst = @users.reverse.first %>
<% rsecond =@users.reverse.second %>
<% rthird = @users.reverse.third %>
<div class="panel panel-default">


<p> 이름 , 차이름 , 기록 </p>
<% if rfirst.nil? %>
	<p> no record yet </p>
<%else%>
<p><%= rfirst.username %>, <%= rfirst.carname %>, <%= rfirst.record %></p>
<% end%>

<% if rsecond.nil? %>
	<p> no record yet </p>
<%else%>
<p><%= rsecond.username %>, <%= rsecond.carname %>, <%= rsecond.record %></p>
<% end%>

<% if rthird.nil? %>
	<p> no record yet </p>
<%else%>
<p><%= rthird.username %>, <%= rthird.carname %>, <%= rthird.record %></p>
<% end%>

</div>
</div>
